# CODEOWNERS - Define code owners for automatic PR review requests
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @samhermeli @Harievilozanini @franciscoramirezadasme

